<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
     http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
     http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd"
       default-lazy-init="false">
    <context:annotation-config />


    <bean name="providerBean" class="com.rb.springissues.generic_provider_injection.SpringProviderInjectionProviderLevel1_1"/>
    <bean name="provider2Bean" class="com.rb.springissues.generic_provider_injection.SpringProviderInjectionProvider2"/>
    <bean name="providerIntegerBean" class="com.rb.springissues.generic_provider_injection.SpringProviderInjectionProviderOther"/>

    <bean name="providedBean" class="com.rb.springissues.generic_provider_injection.SpringProviderInjectionProvided"/>
    <bean name="springProviderInjectionProvidedCollection" class="com.rb.springissues.generic_provider_injection.SpringProviderInjectionProvidedCollection"/>
    <bean name="springDirectProvidedCollection" class="com.rb.springissues.generic_provider_injection.SpringDirectProvidedCollection"/>
    <bean name="springProviderInjectionTwoProvided" class="com.rb.springissues.generic_provider_injection.SpringProviderInjectionTwoProvided"/>
</beans>